@import "partials/settings";
@import "partials/foundation";


$dark-color : #333333;



body {
  text-align: left;
  color: black;
  padding: 30px;
  .everything {
    border: solid black 4px;
  }
  
}

header{  
  padding: 30px;
  border-bottom: solid black 4px;
  text-align: center;
  nav {
    text-align: center;
  display: inline-block;

   li {
    display: inline;
    }
  }
  img{
    height: 200px; 
    width: 200px;
  }
}
  .h1_img{
     border: none;
    .attack {
      float: right;
      height: 60%;
      width: 700px;
      transform: scaleX(-1);
    }
  }

button {
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  color: black;
}

img {
  height: 100px; 
  width: 100px;
}

 .ww img{
  height: 200px;
  width: 150px;
}

 .flyingWW img{
  height: 300px;
  width: 300px;
}

.scouts {
  div {
    padding: 50px;
  }
  border-top: solid black 4px;
  width: 100%;
  .attack{
  height: 60%;
  width: 70%;
  transform: scaleX(-1);
  }
  .venus {
    .attack {
      padding-right: 30px;
      height: 100px;
      width: 130px;
    }
  }
}

.pends {
  overflow: hidden;
  .append h1 {
    text-align: left;
  }
  .prepend {
  text-align: right;

  }
}

.pendTos {
  .appendTo h2{
    text-align: left;
  }
  .prependTo {
  text-align: right;
  }
}

.texTML {
  text-align: center;
  p{
    display: none;
  }
}


